<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>write</title>
</head>
<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout input {
        width: 100%;
        box-sizing: border-box;
    }

    .layout textarea {
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }

</style>
<body>
    <div class="layout">
        <form th:action="@{/board/file/write}" th:object="${fileBoardDto}" method="post" enctype="multipart/form-data">

            <label for="boardTitle">제목</label>
            <input type="text" id="boardTitle" th:field="*{boardTitle}">


            <label for="boardContent">내용</label>
            <textarea id="boardContent" th:field="*{boardContent}"></textarea>

            <div class="form-group">
                <label for="file">첨부파일</label>
                <input type="file" class="form-control-file" id="file" name="file" multiple>

                <ul th:each="fileStore : ${fileStoreDto}">
                    <li>
                        <p type="hidden" th:value="${fileStore.id}" th:field="${fileStore.id}" />
                    </li>
                </ul>
            </div>

            <button type="submit">작성하기</button>

        </form>
    </div>
</body>
</html>