<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
</head>
<body>
<p type="hidden" th:value="*{boardDTO.id}" th:field="*{boardDTO.id}" />
<h1 th:text="${boardDTO.boardTitle}">제목입니다.</h1>
<p th:text="${boardDTO.boardContent}"></p>
<!--<p th:text="${boardDTO.empName}"></p>-->
<a th:href="@{/board/boardmodify/{id}(id = ${boardDTO.id})}">수정</a>
<a th:href="@{/board/boarddetailview/delete/{id}(id=${boardDTO.id})}">삭제</a>
</body>
</html>