<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자유 게시판 상세 페이지</title>
</head>
<body>
<input type="hidden" th:value="*{freeBoardDTO.id}" th:field="*{freeBoardDTO.id}" />
<p th:text="${freeBoardDTO.id}">id</p>
<h1 th:text="${freeBoardDTO.boardTitle}">제목입니다.</h1>
<p th:text="${freeBoardDTO.boardContent}"></p>
<!--<p th:text="${freeBoardDTO.empName}"></p>-->
<a th:href="@{/board/freeboardmodify/{id}(id = ${freeBoardDTO.id})}">수정</a>
</body>
</html>