<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>modify</title>
</head>
<body>
<div class="layout">
    <h2>건의 사항 수정</h2>
    <form th:action="@{/board/qna/modfiy/update/{id}(id=${qnaBoardDto.id})}"
          th:object="${qnaBoardDto}" method="post">
        <input type="hidden" th:value="*{id}" />

        <label for="boardTitle"></label>
        <input type="text" id="boardTitle" name="boardTitle" th:field="*{boardTitle}" placeholder="제목" required/>

        <label for="boardContent"></label>
        <textarea id="boardContent" name="boardContent" th:field="*{boardContent}" placeholder="내용" required></textarea>

        <button type="submit">게시글 수정</button>
    </form>
</div>
</div>
</body>
</html>
