<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
<h1>Welcome to the Home Page!</h1>

<!-- 로그인한 사용자 이름 표시 -->
<form th:action="@{/home}" th:object="${employeeDto}" method="post">
<label th:for="empEmail">이메일:</label>

</form>
<!-- TODO 로그 아웃 기능-->
<a href="/logout">Logout</a>

<script>
    // 페이지 로드 시 JWT 토큰을 검사하여 사용자가 로그인했는지 확인
    const token = localStorage.getItem("token");
    if (!token) {
        alert("You are not logged in!");
        window.location.href = "/login"; // 로그인 페이지로 리다이렉트
    }
</script>
</body>
</html>