<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<form th:action="@{/loginProc}" name="loginForm" method="post">
    <div class="mb-3">
        <label for="empEmail">
            <input type="email" id="empEmail" name="empEmail" placeholder="E-mail" required>
        </label>
    </div>
    <div class="mb-3">
        <label for="empPass">
            <input type="password" id="empPass" name="empPass" placeholder="Password" required>
        </label>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
</form>
</body>
</html>
