<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Details</title>
</head>
<body>
<h1>Employee Details</h1>
<table>
    <tr>
        <th>Name</th>
        <td th:text="${employeeDTO.empName}"></td>
    </tr>
    <tr>
        <th>Rank</th>
        <td th:text="${employeeDTO.empRank}"></td>
    </tr>
    <tr>
        <th>Reg No</th>
        <td th:text="${employeeDTO.empRegNo}"></td>
    </tr>
    <tr>
        <th>닉네임</th>
        <td th:text="${employeeDTO.empNickName}"></td>
    </tr>
    <tr>
        <th>내선 번호</th>
        <td th:text="${employeeDTO.empTel}"></td>
    </tr>
    <tr>
        <th>휴대폰 번호</th>
        <td th:text="${employeeDTO.userTel}"></td>
    </tr>
    <tr>
        <th>사내 메일 주소</th>
        <td th:text="${employeeDTO.empEmail}"></td>
    </tr>
    <tr>
        <th>개인 메일 주소</th>
        <td th:text="${employeeDTO.userEmail}"></td>
    </tr>
    <tr>
        <th>사내 마일리지</th>
        <td th:text="${employeeDTO.empMileage}"></td>
    </tr>
    <tr>
        <th>사원 번호</th>
        <td th:text="${employeeDTO.empNo}"></td>
    </tr>
</table>
<div class="layout">
<a class="btn" th:href="@{/hr/employeemodify/{id}(id=${employeeDTO.id})}">수정</a>
</div>
</body>
</html>
