<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메일함</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <!-- 좌측 세로 버튼 그룹 -->
        <div class="col-md-2">
            <div class="d-flex flex-column align-items-stretch">

                <button class="btn btn-primary mb-2" onclick="writeMail()">메일쓰기</button>
                <button class="btn btn-secondary mb-4" onclick="writeToSelf()">내게쓰기</button>

                <button class="btn btn-outline-primary mb-2" onclick="loadMailFolderAll('ALL')">전체 메일함</button>
                <button class="btn btn-outline-primary mb-2" onclick="loadMailFolder('INBOX',0)">받은 메일함</button>
                <button class="btn btn-outline-primary mb-2" onclick="loadMailFolder('TOME',0)">내게 쓴 메일함</button>
                <button class="btn btn-outline-primary mb-2" onclick="loadMailReceiveFolder('IMPORT',0)">중요 메일함</button>
                <button class="btn btn-outline-primary mb-2" onclick="loadMailReceiveFolder('TRASH',0)">휴지통</button>
                <!--TODO-->
                <hr>
                <button class="btn btn-outline-primary mb-2" onclick="loadMailFolderStatus('SENDED', 0)">보낸 메일함</button>
                <button class="btn btn-outline-primary mb-2" onclick="loadMailFolderStatus('DRAFT', 0)">임시 저장 메일함</button>
            </div>
        </div>

        <!-- 우측 테이블 영역 -->
        <div class="col-md-10">
            <h2 class="text-center mb-4">전체 메일함</h2>
            <div>
                <table class="table table-header table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">체크 박스</th>
                        <th class="text-center">즐겨 찾기</th>
                        <th class="text-center">읽음 상태</th>
                        <th class="text-center">보낸 사람</th>
                        <th class="text-center">제목</th>
                        <th class="text-center">받은 날짜</th>
                    </tr>
                    </thead>
                    <tbody id="mailTableBody">
                    <!-- List<MailBoxDTO>를 mailBoxList로 처리 -->
                    <tr th:each="mail : ${myMailBoxDto}">

                        <input type="hidden" id="mailBoxId" th:text="*{mail.mailBoxId}" class="text-center"/>

                        <td> <!--체크 박스-->
                            <input type="checkbox">
                        </td>

                        <td> <!--즐겨찾기-->
                            <form method="post" action="/update-favorite" class="text-center">
                                <input type="checkbox" name="isFavorite" value="true" id="favorite-checkbox"
                                       onchange="this.form.submit()" />
                                <label for="favorite-checkbox"></label>
                            </form>
                        </td>

                        <td id="readStatus" name="readStatus" th:text="*{mail.readStatus}" class="text-center"></td>

                        <td id="senderName" class="text-center" th:text="*{mail.senderName}"></td>

                        <td class="text-center" id="mailTitle">
                            <a th:text="*{mail.mailTitle}" th:href="@{/mail/detail(id=${mail.mailBoxId})}"></a>
                        </td>

                        <td id="mailDate" th:text="*{mail.mailDate}" class="text-center"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination">
                    <li th:if="${myMailBoxDto.hasPrevious()}">
                        <a th:href="@{/mail/list(page=${myMailBoxDto.number - 1})}" class="btn btn-link">이전</a>
                    </li>

                    <li th:each="i : ${#numbers.sequence(myMailBoxDto.number - (myMailBoxDto.number % 5),
                        myMailBoxDto.number - (myMailBoxDto.number % 5) + 4)}" th:if="${i < myMailBoxDto.totalPages}">
                        <a th:href="@{/mail/list(page=${i})}" class="btn btn-link" th:text="${i + 1}"></a>
                    </li>

                    <li th:if="${myMailBoxDto.hasNext()}">
                        <a th:href="@{/mail/list(page=${myMailBoxDto.number + 1})}" class="btn btn-link">다음</a>
                    </li>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<script>
    function loadMailFolder(mailType, page) {
        console.log('mailType', mailType);
        var size = 10;
        const mailTableBody = document.getElementById('mailTableBody');
        mailTableBody.innerHTML = '<tr><td colspan="6" class="text-center">Loading...</td></tr>'; // 로딩 표시
        const url = `/api/folder1/${mailType}?page=${page}&size=${size}`;
        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log('fetch to mailType', mailType);
                console.log(data.content)
                updateMailTable(data.content); // 목록에는 data 의 content 를 넘겨서 실제 데이터 정보만 바인딩한다
                renderPageNation(mailType, data); // 페이징을 처리할 function 에는 페이징 객체를 모두 넘긴다
                console.log('fetch to data', data);
            })
            .catch(error => {
                console.error('Error:', error);
                mailTableBody.innerHTML = '<tr><td colspan="6" class="text-center text-danger">Failed to load data</td></tr>';
            });
    }

    function loadMailReceiveFolder(receiveType, page) {
        console.log('receiveType', receiveType);
        var size = 10;
        const mailTableBody = document.getElementById('mailTableBody');
        mailTableBody.innerHTML = '<tr><td colspan="6" class="text-center">Loading...</td></tr>'; // 로딩 표시
        const url = `/api/folder2/${receiveType}?page=${page}&size=${size}`;
        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log('fetch to mailType', receiveType);
                console.log(data.content)
                updateMailTable(data.content); // 목록에는 data 의 content 를 넘겨서 실제 데이터 정보만 바인딩한다
                renderPageNation(receiveType, data); // 페이징을 처리할 function 에는 페이징 객체를 모두 넘긴다
                console.log('fetch to data', data);
            })
            .catch(error => {
                console.error('Error:', error);
                mailTableBody.innerHTML = '<tr><td colspan="6" class="text-center text-danger">Failed to load data</td></tr>';
            });
    }

    function loadMailFolderStatus(mailStatus, page) {
        var size = 10;
        console.log('mailStatus', mailStatus);
        const url = `/api/folder3/${mailStatus}?page=${page}&size=${size}`;
        const mailTableBody = document.getElementById('mailTableBody');
        mailTableBody.innerHTML = '<tr><td colspan="6" class="text-center">Loading...</td></tr>'; // 로딩 표시

        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log('fetch to mailStatus', mailStatus);
                console.log('data.content', data.content)
                console.log('data', data);
                updateMailTable(data.content); // 목록에는 data 의 content 를 넘겨서 실제 데이터 정보만 바인딩한다
                renderPageNation(mailStatus, data); // 페이징을 처리할 function 에는 페이징 객체를 모두 넘긴다
                console.log('fetch to data', data);
            })
            .catch(error => {
                console.error('Error:', error);
                mailTableBody.innerHTML = '<tr><td colspan="6" class="text-center text-danger">Failed to load data</td></tr>';
            });
    }

    function updateMailTable(mailList) {
        const mailTableBody = document.getElementById('mailTableBody');
        console.log('mailList', mailList);
        console.log('mailList', mailList.forEach);

        mailTableBody.innerHTML = ''; // 기존 데이터 삭제
        if (!Array.isArray(mailList)) {
            mailList = [mailList];
        }
        mailList.forEach(mail => {
            console.log('mail', mail);
            console.log('mail.id', mail.id)
            console.log('mail.mailBoxId', mail.mailBoxId);

            const row = document.createElement('tr');
            row.innerHTML = `
                <td class="text-center"><input type="checkbox"></td>
                <td class="text-center"><input type="checkbox" name="isFavorite" ${mail.isFavorite ? 'checked' : ''}></td>
                <td class="text-center">${mail.readStatus ? 'READ' : 'NOREAD'}</td>
                <td class="text-center">${mail.senderName}</td>
                <td class="text-center"><a href="/mail/detail?id=${mail.id}">${mail.mailTitle}</a></td>
                <td class="text-center">${mail.mailDate}</td>
            `;
            mailTableBody.appendChild(row);
        });
    }

    function renderPageNation(mailStatus, data) {
        console.log('data.number(현재페이지)', data.number);
        console.log('data.totalPages(전체페이지)', data.totalPages);
        console.log('mailStatus', mailStatus);
        console.log('data.number', data.number);
        console.log('data.size', data.size);

        const paginationElement = document.querySelector('.pagination');
        paginationElement.innerHTML = '';

        if (data.number > 0) {
            const prevButton = document.createElement('li');
            prevButton.innerHTML = `<a href="#" class="btn btn-link">이전</a>`;
            prevButton.addEventListener('click', function () {
                fetchPage(mailStatus, data.number -1);
                console.log('fetchPage()', mailStatus)
            })
            paginationElement.appendChild(prevButton);
        }

        const startPage = Math.max(data.number - (data.number % 5), 0);
        const endPage = Math.min(startPage + 4, data.totalPages - 1);

        for (let i = startPage; i <= endPage; i++) {
            const pageButton = document.createElement('li');
            pageButton.innerHTML = `<a href="#" class="btn btn-link ${i === data.number ? 'active' : ''}">${i + 1}</a>`;
            pageButton.addEventListener('click', function () {
                fetchPage(mailStatus, i);
            })
            paginationElement.appendChild(pageButton);
        }

        if (data.number < data.totalPages - 1) {
            const nextButton = document.createElement('li');
            nextButton.innerHTML = `<a href="#" class="btn btn-link")">다음</a>`;
            nextButton.addEventListener('click', function ()  {
                fetchPage(mailStatus.toString(), data.number + 1);
            })
            paginationElement.appendChild(nextButton);
        }
    }

    function fetchPage(mailStatus, page) {
        console.log(page);
        console.log('fetch By mailStatus', mailStatus);
        /*if (mailStatus === 'TOME' || mailStatus === 'INBOX') {
            loadMailFolder(mailStatus, page);
        }
        if (mailStatus === 'DRAFT' || mailStatus === 'SENDED') {
            loadMailFolderStatus(mailStatus, page);
        }
        if (mailStatus === 'IMPORT' || mailStatus === 'TRASH') {
            loadMailReceiveFolder(mailStatus, page);
        }*/

        if (['TOME', 'INBOX'].includes(mailStatus)) {
            loadMailFolder(mailStatus, page);
        } else if (['DRAFT', 'SENDED'].includes(mailStatus)) {
            loadMailFolderStatus(mailStatus, page);
        } else if (['IMPORT', 'TRASH'].includes(mailStatus)) {
            loadMailReceiveFolder(mailStatus, page);
        }
    }

    function writeMail() {
        window.location.href = '/mail/write'; // 메일쓰기 페이지로 이동
    }

    function writeToSelf() {
        window.location.href = '/mail/tome'; // 내게 쓰기 페이지로 이동
    }

    function loadMailFolderAll() {
        window.location.href = '/mail/list';
    }
</script>
</body>
</html>