<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>보낸 메일함</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="text-center mb-4">보낸 메일함</h2>
    <div>
        <table class="table table-header table-striped">
            <thead>
            <tr>
                <th class="text-center">메일 번호</th>
                <th class="text-center">받는 사람</th>
                <th class="text-center">제목</th>
                <th class="text-center">시간</th>
            </tr>
            </thead>
            <tbody>
            <!-- List<MailBoxDTO>를 mailBoxList로 처리 -->
            <tr th:each="mailBoxDTO : ${mailBoxList}">
                <td th:text="${mailBoxDTO.id}" class="text-center"></td>
                <td th:text="${mailBoxDTO.receiverEmployees.first}"></td>
                <td th:text="${mailBoxDTO.mailTitle}" class="text-center"></td>
                <!-- <td th:text="${mailBoxDTO.mailContent}" class="text-center"></td>-->
                <td th:text="${mailBoxDTO.mailDate}" class="text-center"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>