<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.15/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {

                initialView: 'dayGridMonth',
                googleCalendarApiKey: 'AIzaSyCKJnnpdvFJ084yB6JQC1H6xKJDkx7uPjg',
                events: {
                    googleCalendarId: '0a8501fe802b5aed64b9e51e8e32692932f74f4566e01204160a8725579ebb84@group.calendar.google.com'
                },
                eventClick: function(info) {
                    alert('Event: ' + info.event.title);
                    // alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.preventDefault()); // 이벤트 클릭 시 아무 동작하지 않음
                    // alert('View: ' + info.view.type);
                    console.log(info.event.extendedProps);
                    // change the border color just for fun
                    info.el.style.borderColor = 'red';
                }
            });
            calendar.render();

            // 일정 추가
            document.getElementById('addEventForm').addEventListener('submit', function (e) {
                e.preventDefault();

                var todoTitle = document.getElementById('todoTitle').value;
                var todoStartDate = document.getElementById('todoStartDate').value;
                var todoEndDate = document.getElementById('todoEndDate').value;
                var todoContent = document.getElementById('todoContent').value;
                var employee = document.getElementById('employee').value;
                var eventData = {
                    todoTitle: todoTitle,
                    // todoType: 'calendar',
                    todoContent: todoContent,
                    // todoStatus: 'scheduled',
                    todoStartDate: todoStartDate,
                    todoEndDate: todoEndDate,
                    employee: employee
                };

                fetch('/todo/add', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(eventData)
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Event added:', data);
                        calendar.addEvent({
                            title: data.todoTitle,
                            start: data.todoStartDate,
                            end: data.todoEndDate,
                            description: data.todoContent,
                            extendedProps: {
                                description: data.todoContent
                            }
                        });
                    })
                    .catch(error => console.log('Error adding event:', error))
            });
        });
    </script>
</head>

<body>
<div id='calendar'></div>
<div>
    <h3>일정 추가</h3>
    <form id="addEventForm" th:object="${todoDTO}">

        <label for="employee">사원 번호:</label><br>
        <input type="text" id="employee" name="employee" th:value="*{employee}" required><br><br>

        <label for="todoTitle">일정 제목:</label><br>
        <input type="text" id="todoTitle" name="todoTitle" th:value="*{todoTitle}" required><br><br>

        <label for="todoStartDate">시작일:</label><br>
        <input type="datetime-local" id="todoStartDate" name="todoStartDate" th:value="*{todoStartDate}" required><br><br>

        <label for="todoEndDate">종료일:</label><br>
        <input type="datetime-local" id="todoEndDate" name="todoEndDate" th:value="*{todoEndDate}" required><br><br>

        <label for="todoContent">일정 내용:</label><br>
        <textarea id="todoContent" name="todoContent" th:value="*{todoContent}"></textarea><br><br>

        <button type="submit">일정 추가하기</button>

    </form>
</div>
</body>
</html>