<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .calender-style {
            align-content: center;
            display: flex;
            width: 80%;
            height: 50%;
        }
        dialog{
            position: fixed;
            width: 300px;
            z-index: 100;
            margin: 0;
            padding: 30px;
            background: #ffffff;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
            border: none;
            border-radius: 30px;
        }
    </style>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.15/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            let popup = document.querySelector('dialog');
            var calendar = new FullCalendar.Calendar(calendarEl, {

                initialView: 'dayGridMonth',
                googleCalendarApiKey: 'AIzaSyCKJnnpdvFJ084yB6JQC1H6xKJDkx7uPjg',
                events: {
                    googleCalendarId: '0a8501fe802b5aed64b9e51e8e32692932f74f4566e01204160a8725579ebb84@group.calendar.google.com'
                },
                eventClick: function(info) {
                    info.jsEvent.preventDefault(); // 이벤트 클릭 시 아무 동작하지 않음
                    popup.querySelector('div').innerHTML = `
                    <h3>${info.event.title}<h3>
                    <div>${info.event.extendedProps.description}</div>`;
                    popup.setAttribute('open', 'open');
                }
            });

            fetch('/todo/list?employee=1') //TODO 파라미터 1 은 jwt 구현시 회원 정보의 id로 변경
                .then(response => response.json())
                .then(data => {
                    data.forEach(todo => {
                        calendar.addEvent({
                            title: todo.todoTitle,
                            start: todo.todoStartDate,
                            end: todo.todoEndDate,
                            description: todo.todoContent,
                            extendedProps: {
                                description: todo.todoContent
                            }
                        });
                    });
                    calendar.render();
                    popup.querySelector('button').addEventListener('click', ()=> {
                        popup.removeAttribute('open');
                    })
                })
                .catch(error => console.log("Error get todo calender", error));

            // 일정 추가
            document.getElementById('addEventForm').addEventListener('submit', function (e) {
                e.preventDefault();

                var todoTitle = document.getElementById('todoTitle').value;
                var todoStartDate = document.getElementById('todoStartDate').value;
                var todoEndDate = document.getElementById('todoEndDate').value;
                var todoContent = document.getElementById('todoContent').value;
                var employee = document.getElementById('employee').value;
                var eventData = {
                    todoTitle: todoTitle,
                    // todoType: 'calendar',
                    todoContent: todoContent,
                    // todoStatus: 'scheduled',
                    todoStartDate: todoStartDate,
                    todoEndDate: todoEndDate,
                    employee: employee
                };

                fetch('/todo/update', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(eventData)
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Event added:', data);
                        calendar.addEvent({
                            title: data.todoTitle,
                            start: data.todoStartDate,
                            end: data.todoEndDate,
                            description: data.todoContent,
                            extendedProps: {
                                description: data.todoContent
                            }
                        });
                    })
                    .catch(error => console.log('Error adding event:', error))
            });
        });
    </script>
</head>
<body>
<div>
    <div id="calendar"></div>
    <form id="addEventForm" class="addEventForm" th:object="${todoDTO}">

        <label for="employee">사원 번호:</label><br>
        <input type="text" id="employee" name="employee" required><br><br>

        <label for="todoTitle">일정 제목:</label><br>
        <input type="text" id="todoTitle" name="todoTitle" required><br><br>

        <label for="todoStartDate">시작일:</label><br>
        <input type="datetime-local" id="todoStartDate" name="todoStartDate"  required><br><br>

        <label for="todoEndDate">종료일:</label><br>
        <input type="datetime-local" id="todoEndDate" name="todoEndDate"  required><br><br>

        <label for="todoContent">일정 내용:</label><br>
        <textarea id="todoContent" name="todoContent"></textarea><br><br>

        <button type="submit">일정 수정하기</button>
    </form>
</div>
</body>
</html>